body {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

h1 {
    color: brown;
}

p {
    color: brown;
}

q {
    color: royalblue;
}

ul {
    color: chocolate
}

ol {
    color: royalblue;
    margin-left: 15px;
}

ol a {
    color: royalblue;
}

hr {
    border: 1px solid white;
}